/* Global View AKA Desktop View */

body {
    margin: 0;
    font-family: 'Asap', sans-serif;
    background-color: #EBEBEB;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

header {
    max-width: 1024px;
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px; 
    padding-bottom: 10px;
}

header .logo{
    /* display: flex;
    justify-content: space-between; */
    align-items: left;
    padding-top: 20px; 
    padding-bottom: 20px;
}

header nav {
    /* display: flex;
    justify-content: space-between; */
    align-items: right;
    padding-top: 20px; 
    padding-bottom: 20px;
    
}

.navbutton {
    border: 1px solid white;
    padding: 11px 25px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
   
}

.logo span {
    font-weight: bold;
}

.container {
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 140px;
}

.header-container {
    background-color: rgb(60, 60, 60);
    min-height: 100px;
    position: fixed;
    width: 100%;
}


footer {
    max-width: 1024px;
    background-color: burlywood;
    min-height: 100px;
    margin: 0 auto;
}

.col {
    /* background-color: rgb(43, 226, 147); */
    background-color: rgb(60, 60, 60);

    width: 30%;
    margin-bottom: 40px;
}

.col p {
    /* color: white; */
    font-size: 0.875rem;
    padding: 20px 25px;
}

.hide-desktop-only {
    display: none;
}

.col img {
    width: 100%;
    height: auto;
}

.col p::first-line{
    font-weight: bold;
}

/* Tablet View */
@media (max-width: 768px) {
   
    .col {
        width: 45%;
    }

    .hide-desktop-only {
        display: block;
    }  
    /* - folosit pentru a elimina in modul desktop. E important ca la tag-ul cu Strategic Thinking sa adaug la clasa si hide-desktop-only */
    
    header {
        display: block;
        text-align: center;
    }
    .header-container {
        position: relative;
    }
    
    .container {
        padding-top: 40px;
    }
    
    nav a {
        display: block;
       }
    
    .logo {
        padding: 40px 0; 
    }
    
    .mybutton {
        margin-left: 0;
    }

}

/* Mobile View */ 
@media (max-width: 400px) {
    .col {
        width: 100%;
    }  

    .hide-mobile {
        display: none;
    }

    /* header {
        display: block;
        text-align: center;
    }

    .header-container {
        position: relative;
    }

    .container {
        padding-top: 40px;
    }

    nav a {
        display: block;
    }

    .logo {
        padding: 40px 0px;
    }

    .navbutton {
        margin-left: 0px;
    } */
}

